.header{
    position: relative;
    background-color: yellow;
    width: 100%;
    overflow: hidden;
}

.img-container{
    display: flex;
    flex-direction: row;
    border: 3px solid greenyellow;
    justify-content:space-between;
    /*align-items: center;*/
    margin: 0px 0px 70px;

}

.img-container .img1{
    width: 800px;
    height:600px;
    object-fit: cover;

}

.img-container .img2{
    width: 800px;
    height:500px;
    object-fit: cover;
    margin-top: 45px;

}


.title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: blueviolet;
    padding: 2rem;
    text-align: center;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.title-container h1{
    font-size: 5rem;
    line-height: 0.2;
    
}

.title-container .page-header{
    font-size: 0.95rem;
    margin: 1rem 0;
}


.publication-info{
    background-color: lightblue;
    text-align: center;

}

article{
    margin: 50px 250px 70px;
    
}

.bibliography{
    margin: 50px 250px 70px;
}

.web-tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*gap: 40px;*/
    margin: 0px 0px 70px;
}

.web-tabs button{
    margin: 0px 100px 0px 30px;
    height: 50px;
    width: 200px;
    border-radius: 20px;

}

.web-tabs a{
    text-decoration: none;
}
