.header{
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.box-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0px 0px 70px;

}

.box-container .box-1{
    width: 800px;
    height:600px;
    background-color: pink;
    object-fit: cover;

}

.box-container .box-2{
    width: 800px;
    height:500px;
    margin-top: 45px;
    background-color: purple;
    object-fit: cover;

}


.title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #4B4F46;
    background-color: #707767;
    padding: 2rem;
    text-align: center;
    width: 1200px;
    max-height: 100px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    color:  #efe9dd;
}

.title-container h1{
    font-size: 3rem;
    line-height: 0.9;
    margin: 0 0 40px 0;
}

.title-container .page-header{
    font-size: 0.95rem;
    margin: 1rem 0;
  
}


.publication-info{
    text-align: center;

}

article{
    margin: 50px 250px 70px;
    
}

.bibliography{
    margin: 50px 250px 70px;
}

.web-tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*gap: 40px;*/
    margin: 0px 0px 70px;
}

.web-tabs button{
    margin: 0px 100px 0px 30px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: #B4AEA2;
}

.web-tabs a{
    color: #14181A;
    text-decoration: none;

}

.web-tabs button:hover{
    background-color: #14181A;

}

.web-tabs button:hover a{
    color: #B4AEA2
}


