.page-header{
    font-size: 20px; 
}

main{

}
.container1{
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.container2{
    display: flex;
    flex-direction: row;
    background-color: bisque;
}
