/*DIDOT FONT*/
.gfs-didot-regular 
{
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
}

.page-header{
    font-family: "GFS Didot", serif;
    text-align: center;
    font-size: 70px;
    color: #14181A;
    padding: 120px 0 120px;
}


section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.design-section-container
{ 
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 500px ;
    border-radius: 70px;
    border: solid #b1a292;
    margin: 0px 0px 40px 140px;
    box-shadow: 3px 15px 10px rgba(0,0,0,0.4); 
    position: relative;
    background-color: #c8b8a6;

} 

.design-section-container .img-container
{
    display: flex;
    flex-direction: row;
    border-radius: 40px ;
} 

.design-section-container .block-colour
{
    width: 200px;
    height: auto-fit ;
    background-color: #3f2c17;
    border-radius: 0 70px 70px 0 ;
}

.design-section-container img
{ 
   width: 709px;
   height: auto-fit ; 
   margin: 0 0 0 482px;
}


.section-info 
{
   background-color: rgba(255, 255, 255, 0.871);
   width: 700px;
   height: 300px;
   z-index: 998;
   position: absolute;
   top: 100px;
   left: 150px;
}

.design-section-container:hover
{
    box-shadow: 0 20px 30px rgba(0,0,0,0.4); 
    border-radius: 30px ;
}

.design-section-container:hover img
{ 
    margin: 0 0 0 483px;
}

.design-section-container:hover .block-colour
{ 
    border-radius: 0 30px 30px 0 ;
}

.design-section-container .section-title
{
    font-size: 50px;
}