.page-content{
    border: 3px solid green;
}

.page-header{
    font-family: "GFS Didot", serif;
    text-align: center;
    font-size: 60px;
    color: #14181A;
    padding: 120px 0 120px;
}


section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.design-section-container
{ 
    display: flex;
    flex-direction: row;
    width: 90rem;
    height: 500px ;
    border: 3px solid pink;
    margin: 0px 0px 40px 115px;  
}

.design-section-container .block-colour
{
    width: 200px;
    height: auto-fit ;
    background-color: rgb(128, 0, 23);
    right: 50px;
}

.design-section-container img
{
   width: 500px;
   height: auto-fit ; 
   right: 20px;
}

.section-info 
{
   background-color: aqua;
   width: 300px;
   height: 300px;
   z-index: 998;
   margin: 0 0 0 40px;


}