.page-header{
    margin: 100px;
    font-size: 70px;
    text-align: center;
}

.essay-container
{
    display: flex;
    flex-direction: column;
}


.essay-title
{
   display: flex;
   flex-direction: row; 
   margin: 0 80px 40px 80px;
   background-color: rgba(209, 186, 154, 0.493);

}

.img img
{
   margin: 50px 200px 50px 280px;
   object-fit: cover;
   width: 500px;
   height: 600px;
   border-radius: 250px 250px 0 0 ;
}

.essay-synopsis
{
    margin: 150px 0;
    width: 500px;
    
}

.essay-synopsis button
{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 20px ;
    border-color: #c2a163 ;
    background: #B4AEA2 ;
    margin: 100px 0 0px 200px;
}

.essay-synopsis button a
{
    text-decoration: none;
    color:#14181A;
}

.essay-synopsis button:hover
{  
    background-color: #14181A; ;
}

.essay-synopsis button:hover a
{  
    color: #B4AEA2; ;
}

