
  .container1{
    display: flex;
    flex-direction: column;
    /*flex-grow: 500px;*/
    max-height: fit-content;
    border: 3px solid salmon;
    background-color: blueviolet;
}

.page-header{
    font-size: 120px;;
}

.container2{
    display: flex;
    flex-direction: row;
}