.container{
    border: 3px solid lime ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
    margin: 0 150px;
}



.art{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: aquamarine;
  width: 300px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0,0,0.4);
  border-radius: 20px;
  
}

.art:hover{
     transform: scale(1.05);
     border-radius: 10px;
}

.art:hover img{
     border-radius: 10px 10px 0 0;
}

.art img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px 20px 0px 0px;

}

/*Styling for light-box*/
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox-img {
  width: 60%;
  height: 80%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.lightbox-close {
  position: absolute;
  top: 2rem;
  right: 6.5rem;
  font-size: 5rem;
  color: white;
  cursor: pointer;
  z-index: 10000;
}