.intro-video
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
}

.intro-video img
{
    width: 700px;
}

.intro-video video
{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 600px;
    height: 600px;
    border-radius: 200px 200px 0 0;
}

.intro-video p
{
    margin: 300px 0 0 500px;
}



.about-me
{
    display: flex;
    flex-direction: row;
}

.services
{
    display: flex;
    flex-direction: row;
}