/*DIDOT FONT*/
.gfs-didot-regular 
{
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
}

/*AVENIR FONT*/
  

body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  /* Body text: Avenir*/
    font-size: 18px;
    color:#14181A;
    background: #f4f4f4 ;/*url(Images/TemporaryBackground.jpg) no-repeat*/
    background-size: cover;
    height: 100vh;  /*vh - Viewing height*/
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
}

.nav-bar
{
    /*backdrop-filter: blur(5px);*/
    background: #B4AEA2 ;
    height: 60px;
    width: 100%; /*meaning full-lenght from left to right*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.logo
{
    color: #14181A;
    font-family: "GFS Didot", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px; /*space between the line*/
    margin: 0px 0px 0px 40px;
    padding: 0px 30px 0px;
  }

.nav-links
{
    display: flex;
    align-items: center;
    margin-right: 60px ;
    transition: all 0.3s ease;  
    z-index: 1001;
}

.nav-links li
{
    list-style: none;
    margin: 20px 20px;
}


.nav-links li a 
{
    font-family: "GFS Didot", serif;
    font-size: 18px;
    color: #14181A;
    text-decoration: none;
}

a.active
{
    background:#f4f4f476;
    color: #14181A; /*font colour*/
    padding: 10px 30px;
    border-radius: 50px ;
    border: 3px solid #f4f4f4;
}


.page-content
{
    flex: 1;
}

.page-footer
{
    background: #B4AEA2;
    color: #14181A;
    align-items: flex-end;
    text-align: center;
    
}

.page-footer p a
{
   text-decoration: none;
   color: #14181A;
   margin-right: 40px;
}


.burger-button
{
    display: none;
    cursor: pointer;
    margin-right: 30px ;
    font-size: 28px;
    color: #14181A;

}

.close-button {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  cursor: pointer;
  color: #14181A;
  z-index: 1002;
}

#navLinks 
{
  left: -120%; /* hidden */
  transition: left 0.5s ease;
}

#navLinks.active 
{
  left: 0; /* visible */
}

#overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 24, 26, 0.5);
    backdrop-filter: blur(3px);
    z-index: 999;
    display: none; 
}

#overlay.active 
{
  display: block;
}

body.noscroll 
{
    overflow: hidden;
}

@media (max-width: 1198px)
{
    .burger-button
    {
        display: block;
    }

    .burger-button.hidden 
    {
        display: none;
    }


    .nav-links.active .close-button 
    {
        display: block;
    }

    .nav-links
    {
        position: fixed;
        right: -100%;
        top: -16px;
        width: 300px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.632);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s;
        z-index: 1001;
    }

    .nav-links ul li
    {
        display: block ;
        padding: 30px 0px;
       
    }

    .nav-links ul li a
    {
        font-size: 25px ;
        color: white;
        text-transform: uppercases;
    }

   

}

/* Return-to-Top button */
#toTopBtn 
{
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20%;
  right: 20px;
  z-index: 1002;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

#toTopBtn:hover 
{
  background-color: #555;
}