body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  /*Body text: Avenir*/
    color:#14181A;
    background: #f4f4f4 ;/*url(Images/TemporaryBackground.jpg) no-repeat*/
    background-size: cover;
    height: 100vh;  /*vh - Viewing height*/
}

nav{
background: #B4AEA2 ;
/*backdrop-filter: blur(5px);*/
height: 60px;
width: 100%; /*meaning full-lenght from left to right*/
}

.logo{
    color: #14181A;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px; /*space between the line*/
    /*background-color: white;*/
    margin: 0 30px;
    /*padding: 10px 30px;*/
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}


nav ul li a {
    font-size: 20px;
    color: #14181A;
    text-decoration: none;
}

a.active{
    background:#f4f4f4;
    color: #14181A; /*font colour*/
    padding: 10px 30px;
    border-radius: 50px;
}


#logo{
    width: 30px;
    height: 30px;
    margin: 0 0 5px 10px; 
}


.page-footer{
    background: #B4AEA2;
    color: #14181A;
    align-items: flex-end;
}